<!DOCTYPE html>
<html>
<head>
  <title>Розклад медсестри</title>
</head>
<body>
  <h1>Розклад медсестри</h1>
  <form action="/results" method="POST">
    Nurse ID: <input type="text" name="nurse_id" /><br/>
    Ward ID: <input type="text" name="ward_id" /><br/>
    Shift: <input type="text" name="shift" /><br/>
    <button type="submit">Показати</button>
  </form>
  <div id="output"></div>
</body>
</html>
